@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"] header{
	font-weight: normal;
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

footer{
	text-align: right;
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

.signature{
	font-variant: small-caps;
}
